.headers {
  display: grid;
  grid-gap: 10px;
  padding: 5% 10%;
}
.headers-text {
  color: #333;
}
.text-title {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: bold;
}
.text-content {
  font-size: 1.2rem;
}
.headers-image img {
  width: 80vw;
}
.categories-button {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-button a {
  padding: 10px 20px;
  background-color: #ffa500;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}
.categories-button a:hover {
  background-color: #e59400;
}
.title-wrapper {
  height: 10vh;
  background-color: #333;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  padding: 0 10%;
}
.category-tickets-wrapper {
  display: grid;
  padding: 5% 10%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
}
.category-ticket {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.category-ticket:hover p {
  background-color: #333;
  color: #ffa500;
  transition: background-color 0.3s linear;
}
.category-image {
  width: 30vw;
}
.category-ticket p {
  padding: 10px 0;
  background-color: #ffa500;
  width: 100%;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s linear;
}
.about-content {
  display: flex;
  flex-direction: column-reverse;
  padding: 5% 10%;
}
.about-text {
  flex: 1;
  font-size: 1.2rem;
  color: #333;
  padding: 20px 0;
}
.about-image-wrapper {
  flex: 1;
}
.about-image-wrapper img {
  width: 80vw;
}
.form-wrapper {
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.message-delivered{
  background-color: #ffa500;
  color:#333;
  font-size: 1.5rem;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-wrapper form input,
.form-wrapper form textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #333;
  font-size: 1.1rem;
}
.form-wrapper form input[type="submit"] {
  background-color: #ffa500;
  color: #333;
  font-weight: bold;
  border: none;
}

.form-wrapper form input[type="submit"]:hover {
  background-color: #e59400;
  cursor: pointer;
}
.form-wrapper form textarea {
  resize: none;
  height: 12vh;
}
.form-message{
  font-size: 1.3em;
  color: #ffa500;
  visibility: hidden;
}
.show{
  visibility: visible
}
@media screen and (min-width: 768px) {
  .headers {
    padding: 5% 5%;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 7fr 3fr;
    grid-template-areas: "t i" "c i";
  }
  .headers-image {
    grid-area: i;
  }
  .headers-text {
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .categories-button {
    grid-area: c;
    height: 100%;
    justify-content: flex-start;
  }
  .headers-image img {
    width: 100%;
  }
  .category-tickets-wrapper {
    padding: 5% 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .category-image {
    width: 20vw;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5% 5%;
  }
  .about-text p {
    width: 60%;
  }
  .about-image-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .about-image-wrapper img {
    width: 30vw;
  }
  .form-wrapper form input[type="submit"] {
    width: 30%;
    align-self: flex-end;
  }
}
@media screen and (min-width: 992px) {
  .headers {
    grid-template-columns: 5fr 5fr;
    grid-auto-rows: 8fr 2fr;
  }
  .headers-text {
    width: 60%;
  }
  .category-tickets-wrapper {
    padding: 5% 5%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .category-image {
    width: 12vw;
  }

  .form-wrapper form {
    width: 50%;
  }
}