@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

:root {
  font-size: 12px;
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Karla", sans-serif;
}
input:focus,textarea:focus{
  outline: none;
}
.app {
  min-height: 100vh;
}
@media screen and (min-width: 600px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}
